In [7]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
%matplotlib inline

traindata = pd.read_csv("train_values.csv",sep=',')
traindata.columns[traindata.isna().any()]
data=traindata
data.drop(['building_id'], axis=1, inplace=True)
trainlabels = pd.read_csv("train_labels.csv",sep=',')
trainout=trainlabels
trainout.drop(['building_id'], axis=1, inplace=True)
testvalues = pd.read_csv("test_values.csv",sep=',')
testdata=testvalues
testdata.drop(['building_id'], axis=1, inplace=True)

In [8]:
cleanup_letters = {"land_surface_condition": {"n": 1, "o": 2, "t":3},
                "foundation_type": {"h": 1, "i": 2, "r": 3, "u": 4, "w": 5},               
                "roof_type": {"n": 1, "q": 2, "x": 3},
                "ground_floor_type": {"f": 1, "m": 2, "v": 3, "x": 4, "z": 5},
                "other_floor_type": {"j": 1, "q": 2, "s": 3, "x": 4},
                "position": {"j": 1, "o": 2, "s": 3, "t": 4},
                "plan_configuration": {"a": 1, "c": 2, "d": 3, "f": 4, "m": 5, "n": 6, "o": 7, "q": 8, "s": 9, "u":10},
                "legal_ownership_status": {"a": 1, "r": 2, "v": 3, "w": 4}             
               }
data.replace(cleanup_letters, inplace=True)
testdata.replace(cleanup_letters, inplace=True)
a = list(data)
#del a[-1]
x = data[a].values
y = trainout['damage_grade'].values

In [10]:
x.shape

(260601, 38)

In [6]:
clf = RandomForestClassifier(n_estimators=750,max_features=25,min_samples_leaf=5,n_jobs=-1,random_state=42)
clf.fit(x, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=25, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=750, n_jobs=-1,
            oob_score=False, random_state=42, verbose=0, warm_start=False)

In [7]:
test=testdata[a].values
y_pred=clf.predict(test)
df=pd.DataFrame({'predicted':y_pred})
df

       predicted
0              3
1              2
2              2
3              1
4              3
5              2
6              1
7              3
8              2
9              2
10             2
11             2
12             3
13             2
14             2
15             2
16             2
17             2
18             2
19             2
20             2
21             3
22             3
23             2
24             2
25             2
26             3
27             2
28             2
29             3
...          ...
86838          2
86839          2
86840          2
86841          2
86842          2
86843          2
86844          3
86845          2
86846          3
86847          2
86848          2
86849          3
86850          2
86851          1
86852          2
86853          3
86854          3
86855          2
86856          2
86857          3
86858          3
86859          3
86860          2
86861          2
86862          2
86863          2
86864          2
86865          2
86866          2
86867          1

[86868 rows x 1 columns]

In [9]:
test=testdata[a].values
y_pred=clf.predict(test)
df1=pd.DataFrame({'damage_grade':y_pred})
traindata = pd.read_csv("test_values.csv",sep=',')
building_id = traindata['building_id'].values
building_id
df1['building_id'] = building_id
cols = df1.columns.tolist()
cols = cols[-1:] + cols[:-1]
df1 = df1[cols]

In [10]:
export_csv = df1.to_csv (r'C:\Users\Mogli\Desktop\bennett\103.csv', index = None, header=True)

In [8]:
"""params = {'class_weight':[{0:neg_weight, 1:1} for neg_weight in np.arange(1.0, 5.0, 0.5)]}
gs = GridSearchCV(estimator=clf, param_grid=params, cv=5)
gs.fit(X_train, y_train)"""

"params = {'class_weight':[{0:neg_weight, 1:1} for neg_weight in np.arange(1.0, 5.0, 0.5)]}\ngs = GridSearchCV(estimator=clf, param_grid=params, cv=5)\ngs.fit(X_train, y_train)"

In [ ]:
feature_importances = [(feature, importance) for feature,importance in zip(a, clf.feature_importances_)]
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances]

In [7]:
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score
sfm = SelectFromModel(clf, threshold=0.00024059779341987312)
sfm.fit(x, y)

SelectFromModel(estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=37, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
        max_features=None, norm_order=1, prefit=False,
        =0.0001)

In [8]:
x_important_train = sfm.transform(x)
x_important_test = sfm.transform(test)
clf_important = RandomForestClassifier(n_estimators=750, max_features=25,random_state=0, n_jobs=-1)
clf_important.fit(x_important_train, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=25, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=-1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [6]:
y_pred1=clf_important.predict(x_important_test)
df1=pd.DataFrame({'damage_grade':y_pred1})
df1

NameError: name 'clf_important' is not defined

In [10]:
traindata = pd.read_csv("test_values.csv",sep=',')
building_id = traindata['building_id'].values
building_id

array([ 300051,   99355,  890251, ..., 1049160,  442785,  501372],
      dtype=int64)

In [11]:
df1['building_id'] = building_id
df1

       damage_grade  building_id
0                 2       300051
1                 2        99355
2                 3       890251
3                 1       745817
4                 3       421793
5                 3       871976
6                 1       691228
7                 3       896100
8                 2       343471
9                 2       766647
10                2       800548
11                2       652685
12                3       590834
13                2       612530
14                2       535718
15                2       269418
16                2       281421
17                2       797571
18                2       216579
19                1        81554
20                2       132785
21                3       976125
22                3       851237
23                3       322922
24                2       786774
25                2       922680
26                1       134349
27                2       551456
28                2       194812
29                2       520031
...             ...          ...
86838             2       330032
86839             3        53899
86840             2      1005029
86841             2       718016
86842             2       923781
86843             2       955744
86844             3       928435
86845             2       104340
86846             3       300063
86847             2       890454
86848             2        89531
86849             3      1031834
86850             2       512017
86851             2       660885
86852             2       744356
86853             3       390588
86854             3       454519
86855             2      1051332
86856             2       590265
86857             3       235129
86858             3       290842
86859             2       330371
86860             2       698612
86861             2       445192
86862             2       640115
86863             1       310028
86864             2       663567
86865             2      1049160
86866             2       442785
86867             1       501372

[86868 rows x 2 columns]

In [12]:
cols = df1.columns.tolist()
cols = cols[-1:] + cols[:-1]
cols

['building_id', 'damage_grade']

In [13]:
df1 = df1[cols]
df1

       building_id  damage_grade
0           300051             2
1            99355             2
2           890251             3
3           745817             1
4           421793             3
5           871976             3
6           691228             1
7           896100             3
8           343471             2
9           766647             2
10          800548             2
11          652685             2
12          590834             3
13          612530             2
14          535718             2
15          269418             2
16          281421             2
17          797571             2
18          216579             2
19           81554             1
20          132785             2
21          976125             3
22          851237             3
23          322922             3
24          786774             2
25          922680             2
26          134349             1
27          551456             2
28          194812             2
29          520031             2
...            ...           ...
86838       330032             2
86839        53899             3
86840      1005029             2
86841       718016             2
86842       923781             2
86843       955744             2
86844       928435             3
86845       104340             2
86846       300063             3
86847       890454             2
86848        89531             2
86849      1031834             3
86850       512017             2
86851       660885             2
86852       744356             2
86853       390588             3
86854       454519             3
86855      1051332             2
86856       590265             2
86857       235129             3
86858       290842             3
86859       330371             2
86860       698612             2
86861       445192             2
86862       640115             2
86863       310028             1
86864       663567             2
86865      1049160             2
86866       442785             2
86867       501372             1

[86868 rows x 2 columns]

In [14]:
export_csv = df1.to_csv (r'C:\Users\Mogli\Desktop\bennett\103F.csv', index = None, header=True)